body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #f8f8f8;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.absen {
text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.attendance h1 {
    margin-bottom: 20px;
}

.student-info p {
    margin: 5px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #000000c0;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #00f2ffba;
}

.status {
    display: inline-block;
    font-size: 16px;
    padding: 2px 5px;
    border-radius: 3px;
}

.status.done {
    color: green;
}

.status.unavailable {
    color: red;
}

.icon-info ul {
    list-style: none;
    padding: 0;
}

.icon-info ul li {
    display: inline-block;
    margin-right: 10px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #f8f8f8;
    box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
}
@media (max-width: 768px) {
    /* Adjust font size for better readability on smaller screens */
    body {
      font-size: 16px;
    }
  
    /* Make header more compact */
    header {
        background-color: #f8f8f8;
        padding: 10px 100px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }
  
    /* Simplify navigation */
    nav ul {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
    }
    
    nav ul li {
        margin: 0 5px;
    }
    
    nav ul li a {
        text-decoration: none;
        color: #333;
    }
  
    /* Make main content more compact */
    main {
      padding: 10px;
    }
  
    /* Adjust table layout for smaller screens */
    table {
      font-size: 14px;
    }
  
    /* Adjust footer for smaller screens */
    footer {
      padding: 10px 0;
    }
  }